.Header {
  height: 120px;
  background-color: #ffffff;
  border-radius: 0 0 16px 16px;
  margin-bottom: 24px;
  box-shadow: 0px 0px 16px rgba(33, 36, 41, 0.02);
  display: flex;
  user-select: none;
}

.Container {
  margin: auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.Buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 1280px) {
  .Container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 425px) {
  .Buttons {
    display: none;
  }
}
