.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  gap: 16px;
  padding: 12px 16px;
  border-radius: 24px;
  background-color: transparent;
}

.Button:hover {
  background-color: rgba(33, 36, 41, 0.025);
}

.Label {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.Button.Compact {
  padding: 12px;
}

.Button.Primary {
  background-color: #fca311;
}

.Button.Primary .Label {
  color: #ffffff;
}
