/.vs/
/src/Core/bin/
/src/Core/obj/
/src/DatabaseStorage.Abstractions/bin/
/src/DatabaseStorage.Abstractions/obj/
/src/DatabaseStorage.MsSql/bin/
/src/DatabaseStorage.MsSql/obj/
/src/TestStorage.Abstractions/bin/
/src/TestStorage.Abstractions/obj/
/src/TestStorage.FileSystem/bin/
/src/TestStorage.FileSystem/obj/
/src/Utils/obj/
/src/Utils/obj/
/src/Web.Api/bin/
/src/Web.Api/obj/
/src/Web.Frontend/bin/
/src/Web.Frontend/obj/
/src/DatabaseStorage.MsSql.Migrations/bin/Debug/net5.0
/src/DatabaseStorage.MsSql.Migrations/obj
/src/Web.Frontend/App/node_modules/
/src/Web.Frontend/App/package-lock.json
