.Card {
  padding: 32px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  gap: 16px;
  border-radius: 16px;
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.025);
}

.Title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.CardHeader {
  display: flex;
  align-items: center;
  gap: 24px;
}
