.Field {
  display: flex;
  gap: 16px;
  background-color: #e8ecef;
  padding: 12px 18px;
  border-radius: 16px;
}

.Input {
  border: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  flex: 1;
  font-family: Montserrat, sans-serif;
  background-color: transparent;
  width: 100%;
}

.ClearButton {
  margin: -12px;
}
